{% from "_formhelpers.html" import render_field %}
<form method=post  enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.picture) }}
    <br><br>
    {{ render_field(form.lab_name) }}
    {{ render_field(form.lab_city) }}
    {{ render_field(form.lab_country) }}
    {{ render_field(form.lab_date) }}
    {{ render_field(form.lab_testtype) }}
    <br><br>
    {{ render_field(form.lab_report) }}

  </dl>
  <p><input type=submit value=Submit>
</form>
