{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
<form method=post>
  {{ form.hidden_tag() }}
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ render_field(form.dob) }}
    {{ render_field(form.lab) }}
    {{ render_field(form.country) }}
    {{ render_field(form.test_date) }}
    {{ render_field(form.test_result) }}
    {{ render_field(form.picture) }}
  </dl>
  <p><input type=submit value=Register>
</form>
