<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset=utf-8>
<title>Test file upload</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

  <body>
    <div class="container">
      <h1>Test input</h1>
      <br>

<form method=post  enctype="multipart/form-data">
  <input id="csrf_token" name="csrf_token" type="hidden" value="IjZkZmRjZWRlMDRmNGZiYmJiMjQzMmUzYjBiMjA1YmE1YWI0N2I5MTgi.X0z8_g.Jp6oQDcw71zmd4ZsRUIWnHu8biQ">
  <dl>
    
  <dt><label for="username">Full Name</label>
  <dd><input id="username" name="username" type="text" value="">
  
  </dd>

    
  <dt><label for="picture">Your Passport Size Photo</label>
  <dd><input id="picture" name="picture" required type="file">
  
  </dd>

  </dl>
  <p><input type=submit value=Save>
</form>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>

