{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
 
    <!-- Custom styles for this template -->
    <link href="navbar-top-fixed.css" rel="stylesheet">
        <!-- Custom styles for this template -->
    <link href="static/css/signin.css" rel="stylesheet">

{% endblock %}
{% block content %}

   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Immunity Passport</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/getpassport">New Passport</a>
      </li>
      {% if pass_ready %}
         <li class="nav-item">
		 <a class="nav-link" href="/printpassport">Print</a>
      {% else %}
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Print</a>
	 </li>
      {% endif %}
     <li class="nav-item">
        <a class="nav-link" href="/addprofile">Profile</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
   </nav>
 <div id="content" class="form-signin">
<form class="form-signin"  method=get >
  <img class="mb-4" src="static/logo_immunity_passport.png" alt="" width="72" height="72">
  <dl>
	  <p><a href="/getpassport"><input class="btn btn-lg btn-primary btn-block" type=button value="New Passport">
          {% if pass_ready %}
	      <p><a href="/printpassport"><input class="btn btn-lg btn-primary btn-block" type=button value="Print">
	  {% endif %}
	  <p><a href="/addprofile"><input class="btn btn-lg btn-primary btn-block" type=button value="Profile">
	  <p><a href="/logout"><input class="btn btn-lg btn-primary btn-block" type=button value="Logout">
</form>
 </div>
{% endblock %}

