{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
 
    <!-- Custom styles for this template -->
    <link href="static/css/navbar-top-fixed.css" rel="stylesheet">
    <link href="static/css/signin.css" rel="stylesheet">

{% endblock %}
{% block content %}

   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Immunity Passport</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
	      <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
	      <a class="nav-link" href="{{ url_for('login') }}">Login</a>
      </li>
     <li class="nav-item">
	     <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
      </li>
    </ul>
  </div>
   </nav>
   <div id="content" class="form-signin">
<form class="form-signin"  method=get >
  <img class="mb-4" src="static/logo_immunity_passport.png" alt="" width="72" height="72">
  <dl>
	  <p><a href="{{ url_for('login') }}"><input class="btn btn-lg btn-primary btn-block" type=button value="Login">
		  <p><a href="{{ url_for('signup') }}"><input class="btn btn-lg btn-primary btn-block" type=button value="Signup">
</form>
 </div>

{% endblock %}
