{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
 
    <!-- Custom styles for this template -->
    <!--     <link href="static/css/signin.css" rel="stylesheet"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/signin.css') }}">
{% endblock %}
{% block content %}
 <div id="content" class="form-signin">
{% from "_formhelpers.html" import render_field %}
<form class="form-signin"  method=post>
	<img class="mb-4" src="{{ url_for('static', filename='logo_immunity_passport.png') }}" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">{{ title }}</h1>
  <h4 class="h4 mb-4 font-weight-normal">{{email}}</h4>
  {{ form.hidden_tag() }}
  <dl>
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
  </dl>
  <p><input class="btn btn-lg btn-primary btn-block"  type=submit value="Submit">
</form>
</div>
{% endblock %}


